* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    height: 100vh;
}
.left {
    flex: 1;
    background: url('.../img/imgAlunosLogin.jpg') no-repeat center center/cover;
    border-right: 30px solid #d00;
   
}
.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    /* background: linear-gradient(to right, #d00, white) */
}
.login-box {
    text-align: center;
    background: #d00;
    padding: 40px;
    border-radius: 20px;
    color: #fff;
    width: 300px;
}
.login-box h2 {
    margin-bottom: 20px;
   
}

.login-box img {
    width: 110px;
    height: 110px;
    margin-right: 10px;
    margin-top: 7px;
}
.login-box label {
    display: block;
    text-align:left;
    font-size: 14px;
    margin-bottom: 5px;
}
.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.login-box button {
    width: 100%;
    padding: 10px;
    background: #fff;
    color: #d00;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-box button:hover {
    background: #eee;
}
