body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-top: 100px;
    padding: 20px;
    gap: 20px;
  }
  
  .calendar-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    flex: 2;
    min-width: 300px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .calendar-container .fc {
    width: 100%;
    max-width: 800px;
    height: 100%;
  }
  
  .activities-container {
    flex: 1;
    min-width: 280px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .activity-box {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .label {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .fundamental1 {
    background-color: #f9e88d;
    color: #555;
  }
  
  .fundamental2 {
    background-color: #f4b7b7;
    color: #555;
  }
  
  .medio {
    background-color: #8ad1f3;
    color: #555;
  }
  
  .activity-text {
    color: #444;
    font-size: 16px;
  }
  
  .highlight {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
  }
  