* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gabarito', sans-serif;
}



/* BANNER */
.banner {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 5.9; /* Mais achatado */
  background-image: url("../../img/fundo-tela-inicial.jpg") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    height: 63.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}




/* camada de fundo */
.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(69, 68, 68, 0.5) !important; 
  z-index: 1;
}

/* conteúdo do banner */
.banner-content {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 30px 50px;
}

footer{
  margin-top: 0px !important;
}

.infor-banner h1 {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.infor-banner p {
  font-size: 18px;
  color: #fff;
}

/* 📱 RESPONSIVIDADE */
@media (max-width: 768px) {
  nav {
    width: 90%;
    height: auto;
    flex-direction: column;
    padding: 10px 0;
  }

  ul {
    flex-direction: column;
    align-items: center;
  }

  ul a {
    font-size: 20px;
    margin: 10px 0;
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    padding: 20px 10px;
  }

  .localizacao p {
    width: auto;
  }

  .banner {
    height: 77.1vh !important;
    margin-top: 0px !important;
  }

  .banner-content {
    padding: 20px 30px;
  }

  .infor-banner h1 {
    font-size: 28px;
  }

  .infor-banner p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  nav {
    width: 100%;
    padding: 10px;
  }

  ul a {
    font-size: 18px;
  }

  .banner {
    height: 250px;
  }

  .banner-content {
    padding: 15px 20px;
  }

  .infor-banner h1 {
    font-size: 24px;
  }

  .infor-banner p {
    font-size: 14px;
  }
}